---
import { Image } from "astro:assets";
import "@fontsource/iceland";
import "@fontsource-variable/source-code-pro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import hero from "../images/expo-hero.png";
import Countdown from "../components/Countdown";
import compileLogo from "../images/compile-logo.png";
import iacLogo from "../images/iac_makati-logo.png";
import Navbar from "../components/Navbar.astro";
import timelineFull from "../images/expo-timeline/full.png";
import timelineDay1 from "../images/expo-timeline/day1.png";
import timelineDay2 from "../images/expo-timeline/day2.png";
---

<BaseLayout
  description="The Future of Computing through Game-Changing Innovations"
  title="SOCW Expo 2024"
  icon={{ type: "image/svg+xml", href: "/images/expo-logo.svg" }}
  previewImage="/images/preview/expo.png"
>
  <Navbar lumaEventId="evt-yGjjGbgZi4NtTit" />
  <div class="flex flex-col items-center">
    <section
      class="container flex flex-col items-center justify-center gap-4 px-6 pt-14 lg:max-w-[60rem]"
    >
      <Image
        src={hero}
        alt="School of Computing Week 2024"
        class="pointer-events-none w-full"
      />
      <a
        href="https://lu.ma/event/evt-yGjjGbgZi4NtTit"
        class="luma-checkout--button mb-3 !px-4 !py-3 !font-mono sm:hidden"
        data-luma-action="checkout"
        data-luma-event-id="evt-yGjjGbgZi4NtTit"
      >
        Register Now!
      </a>
    </section>
    <div class="my-4">
      <p class="mb-3 text-center font-mono ~text-lg/2xl">June 28-29, 2024</p>
      <Countdown
        client:only="react"
        timestamp={new Date("2024-06-28T00:00:00.000Z")}
      />
    </div>
    <div
      class="flex justify-center gap-8 px-6 py-9 text-center font-semibold md:gap-20"
    >
      <div>
        <p class="~mb-1/0">Presented by</p>
        <a
          href="https://iacademy.edu.ph/"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={iacLogo} alt="iACADEMY" class="~w-32/48" />
        </a>
      </div>
      <div>
        <p class="~mb-1/0">Organized by</p>
        <a
          href="https://www.facebook.com/iacademycompile"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={compileLogo} alt="Compile" class="~w-32/48" />
        </a>
      </div>
    </div>
  </div>
  <Section title="Timeline" id="timeline">
    <Image
      src={timelineFull}
      alt="Full timeline"
      class="pointer-events-none mx-auto hidden md:block"
    />
    <Image
      src={timelineDay1}
      alt="Day 1"
      class="pointer-events-none mx-auto mb-10 md:hidden"
    />
    <Image
      src={timelineDay2}
      alt="Day 2"
      class="pointer-events-none mx-auto md:hidden"
    />
  </Section>
  <script id="luma-checkout" src="https://embed.lu.ma/checkout-button.js"
  ></script>
</BaseLayout>
