---
import { Image } from "astro:assets";
import "@fontsource-variable/source-code-pro";
import "@fontsource/iceland";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import heroLogo from "../images/hero-logo.png";
import timelineDiagram from "../images/timeline-diagram.png";
import Countdown from "../components/Countdown";
import timeline from "../data/timeline";
import compileLogo from "../images/compile-logo.png";
import iacLogo from "../images/iac_makati-logo.png";
import Navbar from "../components/Navbar.astro";
import { Carousel } from "flowbite-react";
import type { ImageMetadata } from "astro";

const sponsors = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/partners/sponsors/*.png"
);

const orgs = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/partners/orgs/*.png"
);

const community_partners = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/partners/community/*.png"
);
---

<BaseLayout
  description="The Future of Computing through Game-Changing Innovations"
  icon={{ type: "image/x-icon", href: "/favicon.ico" }}
  previewImage="/images/preview/socw.png"
>
  <Navbar />
  <div class="flex flex-col items-center">
    <section
      class="container flex flex-col items-center justify-center gap-4 px-6 pt-14 md:flex-row md:gap-0 lg:max-w-[60rem]"
    >
      <div class="text-center md:w-auto md:text-left">
        <h1 class="font-mono">
          &lt;<span class="text-[#04FEE1]">SOCWeek</span>
          <span class="text-[#CD81FF]">2024</span>/&gt;
        </h1>
        <p
          class="text-pretty font-['Akira_Expanded'] leading-none ~text-2xl/5xl"
        >
          The Future of Computing through Game-Changing Innovations
        </p>
      </div>
      <Image
        src={heroLogo}
        alt="School of Computing Week 2024"
        class="~md:~w-52/80"
      />
    </section>
    <div class="my-4">
      <p class="mb-3 text-center font-mono ~text-lg/2xl">June 24-29, 2024</p>
      <Countdown
        client:only="react"
        timestamp={new Date("2024-06-24T01:00:00.000Z")}
      />
    </div>
    <div
      class="flex justify-center gap-8 px-6 pt-9 text-center font-semibold md:gap-20"
    >
      <div>
        <p class="~mb-1/0">Presented by</p>
        <a
          href="https://iacademy.edu.ph/"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={iacLogo} alt="iACADEMY" class="~w-32/48" />
        </a>
      </div>
      <div>
        <p class="~mb-1/0">Organized by</p>
        <a
          href="https://www.facebook.com/iacademycompile"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-left-1/2 after:h-1 after:w-0 after:rounded-xl after:bg-white after:duration-300 after:content-[''] hover:after:w-full"
        >
          <Image src={compileLogo} alt="Compile" class="~w-32/48" />
        </a>
      </div>
    </div>
  </div>
  <Section
    title="Partners & Sponsors"
    id="partners-and-sponsors"
    description="Thank you to our partners & sponsors!"
  >
    <div
      class="mx-auto mb-9 mt-5 w-full max-w-5xl space-y-2 px-4 text-center font-['Iceland'] text-2xl md:px-6"
    >
      <p
        class="mx-auto w-fit rounded-2xl border-2 border-gray-400 px-5 py-2 text-[#FF80E3] ~mb-3/2"
      >
        School Orgs
      </p>
      <div
        class="inline-flex w-full flex-nowrap overflow-hidden opacity-80 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
      >
        <ul
          class="flex animate-infinite-scroll items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
        >
          {
            Object.entries(orgs).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
        <ul
          class="flex animate-infinite-scroll items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
          aria-hidden="true"
        >
          {
            Object.entries(orgs).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
      </div>

      <p
        class="mx-auto w-fit rounded-2xl border-2 border-gray-400 px-5 py-2 text-[#D39CFF] ~mb-3/2"
      >
        Sponsors
      </p>
      <div
        class="inline-flex w-full flex-nowrap overflow-hidden opacity-80 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
      >
        <ul
          class="flex animate-infinite-scroll-reverse items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
        >
          {
            Object.entries(sponsors).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
        <ul
          class="flex animate-infinite-scroll-reverse items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
          aria-hidden="true"
        >
          {
            Object.entries(sponsors).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
      </div>

      <p
        class="mx-auto w-fit rounded-2xl border-2 border-gray-400 px-5 py-2 text-[#6DEDFF] ~mb-3/2"
      >
        Community Partners
      </p>
      <div
        class="inline-flex w-full flex-nowrap overflow-hidden opacity-80 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
      >
        <ul
          class="flex animate-infinite-scroll items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
        >
          {
            Object.entries(community_partners).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
        <ul
          class="flex animate-infinite-scroll items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
          aria-hidden="true"
        >
          {
            Object.entries(community_partners).map(([path, image]) => (
              <li>
                <Image
                  src={image()}
                  alt={path}
                  width={150}
                  class="pointer-events-none"
                />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Section>

  <Section title="About" id="about">
    <div class="flex flex-col items-center justify-center gap-6 lg:flex-row">
      <div class="w-full flex-1 lg:h-96 lg:w-1/2">
        <Carousel client:load>
          {
            Array.from({ length: 4 }).map((_, index) => (
              <img
                src={`/images/expo/${index + 1}.jpg`}
                class="relative h-96 object-cover lg:h-full"
                alt="About"
              />
            ))
          }
        </Carousel>
      </div>
      <div class="flex-1">
        <div>
          &lt;<span class="text-[#17F1FF]"
            ><span class="font-bold">SOCW2024</span>:Expo</span
          >&gt;
        </div>
        <div class="flex flex-col gap-4 py-3">
          <p>
            <span class="font-bold">SOCW2024</span>:Expo serves as a venue for
            both students and industry professionals in the computing field to
            delve deeper into the recent developments, uncover innovation and
            spot potential opportunities. This event showcases the profound
            potential of what the tech industry can do in the hands of iACADEMY
            students and industry professionals in the forms of:
          </p>
          <ul class="list-disc px-9">
            <li>Seminars about AR/VR, Cybersecurity, AI, and IoT</li>
            <li>PC DIY Seminar hosted by ASUS</li>
            <li>Showcase of Indie Games created by iACADEMY students</li>
          </ul>
          <p>
            <span class="font-bold">SOCW2024</span>:Expo will go beyond what’s
            required and provide exciting activities that promote the
            collaboration of the minds and passion for technology with Valorant
            and League of Legends tournaments and many more!
          </p>
        </div>
        <div>
          &lt;/<span class="text-[#17F1FF]"
            ><span class="font-bold">SOCW2024</span>:Expo</span
          >&gt;
        </div>
      </div>
    </div>
  </Section>
  <Section title="Timeline" id="timeline">
    <Image src={timelineDiagram} alt="Timeline diagram" class="mx-auto my-20" />
    <ul
      class="mx-auto grid w-fit grid-cols-1 gap-14 sm:grid-cols-2 sm:gap-5 xl:grid-cols-4"
    >
      {
        timeline.map((day) => (
          <li>
            <h3 class={`text-8xl font-black text-[${day.color}]`}>{day.day}</h3>
            <h4
              class={`mb-6 text-2xl font-black uppercase [${day.color}] underline text-[${day.color}] [text-shadow:0_0_10px_${day.color},0_0_20px_${day.color}]`}
            >
              {day.title}
            </h4>
            <ol class="relative border-s border-gray-600">
              {day.events.map((event) => (
                <li class="mb-10 ms-4">
                  <ul class="mb-2 flex items-center gap-1 text-center text-black">
                    <div
                      class={`absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full bg-[${day.color}] [box-shadow:0_0_10px_${day.color},0_0_20px_${day.color}]`}
                    />
                    <li class="rounded-full bg-white px-2 py-1 font-mono text-sm font-bold">
                      {event.time}
                    </li>
                    <li
                      class={`rounded-full bg-[${day.color}] px-2 py-1 font-mono text-sm font-bold`}
                    >
                      {event.location}
                    </li>
                  </ul>
                  <h5 class="font-bold">{event.title}</h5>
                  <p
                    set:html={event.description?.replace(
                      /(?:\r\n|\r|\n)/g,
                      "<br>"
                    )}
                  />
                </li>
              ))}
            </ol>
          </li>
        ))
      }
    </ul>
  </Section>
</BaseLayout>
