---
import { Image } from "astro:assets";
import "@fontsource-variable/source-code-pro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import heroLogo from "../images/hero-logo.png";
import timelineDiagram from "../images/timeline-diagram.png";
import aboutImg from "../images/about.jpg";
import Countdown from "../components/Countdown";
import timeline from "../data/timeline";
---

<BaseLayout
  description="The Future of Computing through Game-Changing Innovations"
>
  <div class="flex flex-col items-center">
    <section
      class="container flex flex-col items-center justify-center gap-4 px-6 py-14 md:flex-row md:gap-0 lg:max-w-[60rem]"
    >
      <div class="text-center md:w-auto md:text-left">
        <h1 class="font-mono">
          &lt;<span class="text-[#04FEE1]">SOCWeek</span>
          <span class="text-[#CD81FF]">2024</span>/&gt;
        </h1>
        <p
          class="text-pretty font-['Akira_Expanded'] leading-none ~text-2xl/5xl"
        >
          The Future of Computing through Game-Changing Innovations
        </p>
        <p class="font-mono text-xl">6.24.24 → 6.29.24</p>
      </div>
      <Image
        src={heroLogo}
        alt="School of Computing Week 2024"
        class="~md:~w-52/80"
      />
    </section>
    <Countdown client:only="react" />
  </div>
  <Section title="About" id="about">
    <div class="flex flex-col items-center justify-center gap-6 lg:flex-row">
      <Image src={aboutImg} alt="About" class="flex-1 object-cover lg:w-1/2" />
      <div class="flex-1">
        <div>
          &lt;<span class="text-[#17F1FF]"
            ><span class="font-bold">SOCW2024</span>:Expo</span
          >&gt;
        </div>
        <div class="flex flex-col gap-4 py-3">
          <p>
            <span class="font-bold">SOCW2024</span>:Expo serves as a venue for
            both students and industry professionals in the computing field to
            delve deeper into the recent developments, uncover innovation and
            spot potential opportunities. This event showcases the profound
            potential of what the tech industry can do in the hands of iACADEMY
            students and industry professionals in the forms of:
          </p>
          <ul class="list-disc px-9">
            <li>Seminars about AR/VR, Cybersecurity, AI, and IoT</li>
            <li>PC DIY Seminar hosted by ASUS</li>
            <li>Showcase of Indie Games created by iACADEMY students</li>
          </ul>
          <p>
            <span class="font-bold">SOCW2024</span>:Expo will go beyond what’s
            required and provide exciting activities that promote the
            collaboration of the minds and passion for technology with Valorant
            and League of Legends tournaments and many more!
          </p>
        </div>
        <div>
          &lt;/<span class="text-[#17F1FF]"
            ><span class="font-bold">SOCW2024</span>:Expo</span
          >&gt;
        </div>
      </div>
    </div>
  </Section>
  <Section title="Timeline" id="timeline">
    <Image src={timelineDiagram} alt="Timeline diagram" class="mx-auto my-20" />
    <ul class="grid grid-cols-1 gap-14 sm:grid-cols-2 sm:gap-5 xl:grid-cols-4">
      {
        timeline.map((day) => (
          <li>
            <h3 class={`text-8xl font-black text-[${day.color}]`}>{day.day}</h3>
            <h4
              class={`mb-6 text-2xl font-black uppercase [${day.color}] underline text-[${day.color}] [text-shadow:0_0_10px_${day.color},0_0_20px_${day.color}]`}
            >
              {day.title}
            </h4>
            <ol class="relative border-s border-gray-600">
              {day.events.map((event) => (
                <li class="mb-10 ms-4">
                  <ul class="mb-2 flex items-center gap-1 text-center text-black">
                    <div
                      class={`absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full bg-[${day.color}] [box-shadow:0_0_10px_${day.color},0_0_20px_${day.color}]`}
                    />
                    <li class="rounded-full bg-white px-2 py-1 font-mono text-sm font-bold">
                      {event.time}
                    </li>
                    <li
                      class={`rounded-full bg-[${day.color}] px-2 py-1 font-mono text-sm font-bold`}
                    >
                      {event.location}
                    </li>
                  </ul>
                  <h5 class="font-bold">{event.title}</h5>
                  <p
                    set:html={event.description?.replace(
                      /(?:\r\n|\r|\n)/g,
                      "<br>"
                    )}
                  />
                </li>
              ))}
            </ol>
          </li>
        ))
      }
    </ul>
  </Section>
</BaseLayout>
