---
interface Props {
  title?: string;
  description: string;
}

const { title = "SOC Week '23-'24", description } = Astro.props;

import "../styles/base.css";
import AnimatedCursor from "react-animated-cursor";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:url" content="https://iacademy-socw.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SOC Week '23-'24" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://iacademy-socw.netlify.app/images/preview.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="iacademy-socw.netlify.app" />
    <meta property="twitter:url" content="https://iacademy-socw.netlify.app/" />
    <meta name="twitter:title" content="SOC Week '23-'24" />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://iacademy-socw.netlify.app/images/preview.png"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-[#020213] text-white">
    <slot />
    <AnimatedCursor
      client:only="react"
      color="255,255,255"
      innerSize={8}
      outerSize={35}
      innerScale={1}
      outerScale={2}
      outerAlpha={1}
      outerStyle={{
        mixBlendMode: "exclusion",
      }}
      innerStyle={{
        backgroundColor: "white",
        mixBlendMode: "exclusion",
      }}
    />
  </body>
</html>
